body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: white; /* Fondo suave en gris pastel */
  min-height: 100vh; 
}

#titulo{
  text-align: center; 
  font-family: "Arizonia", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 4.5em;
  font-weight: 300;
  margin:0;
  color:white;
  margin-top:20px;
}

header{ 
  background: #d6a0a8; /* Color pastel suave para el fondo */
  color: #fff;
  padding: 20px 0;
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#menu{
  background:#AC8187;
}

nav {
  margin: 0px;
}

nav a {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 0.8em;
  transition: color 0.3s;          
}
        
nav a:hover {
   color: #f8b4b4;
}
        
.container {            
  width: 50%;            
  margin: auto;          
  background: white;
  text-align:center;
}

h1{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  margin: 0 10px;
  font-size: 4em;
  border-bottom: 1px solid #f8b4b4;
  text-align:justify;
}
        
h2 {
  color: #d6a0a8; /* Tono pastel para los encabezados */
  border-bottom: 2px solid #f8b4b4; /* Línea inferior rosa pastel */
  padding-bottom: 5px;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-align:justify;
}

p {font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
  font-size: 1.2em;
  line-height:1.75;
  text-align:justify;
}

h3{font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-align:justify;
}    

.content img {
  width:auto;
  height: 400px;
  border-radius: 8px;
  margin-top: 20px;        
}

.texto-imagen{
    font-style: italic;
    color: #aab7b8;
    font-size:0.9em;
}

.titulo-img{
  color:#919D9E;
}

.tags {
  margin-top: 20px;
  font-style: italic;
  color: #aab7b8; /* Color gris pastel para las etiquetas */
}

a{
  color: blue;
}

 footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 20px;
            position: relative;
            bottom: 0;
            width: 100%;
        }
.footer-links {
            list-style: none;
            padding: 0;
        }
.footer-links li {
            display: inline;
            margin: 0 10px;
        }
.footer-links a {
            color: #fff;
            text-decoration: none;
        }
.footer-links a:hover {
            text-decoration: underline;
        }
.footer-social {
            margin-top: 10px;
        }
.footer-social a {
            margin: 0 5px;
            color: #fff;
            text-decoration: none;
        }